{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>

    
        
    
        <style>
            body { margin: 0; }
            canvas { display: block; }
        </style>

    <title>{% block title %} {% endblock %} | PokeTraders</title>
</head>
<body>
    {% if messages %}
        <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">PokeTraders</a>
        {% if request.user.is_authenticated %}
        <div class="flex items-center justify-center space-x-2">
            <img src="{% static 'images/coin.png' %}" alt="Fire Token" class="h-8 w-8">
            <span class="text-lg font-semibold hover:text-gray-500">{{ request.user.userprofile.pokepeso }}</span>
        </div>
        {% endif %}
        <div class="space-x-6">
            
    
            {% if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-gray-500">New Pokémon</a>
            {% endif %}
            
            <a href="{% url 'item:pokemons' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>
    
            
            {% if request.user.is_authenticated %}
            <a href="{% url 'item:claim_pokepesos' %}" class="px-6 py-3 text-lg font-semibold bg-orange-500 text-white rounded-xl hover:bg-orange-700">Claim Pokepesos</a>
            <a href="{% url 'item:claim_pokemon' %}" class="px-6 py-3 text-lg font-semibold bg-orange-500 text-white rounded-xl hover:bg-orange-700">Claim Pokemon</a>
                <a href="{% url 'dashboard:index' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Dashboard</a>
                <form action="{% url 'core:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>
            {% endif %}
        </div>
    </nav>
    
   

    <div class="px-6 py-6 pb-8">
         <!-- Token display section with margins -->
    {% if request.user.is_authenticated %}
    
    <div class="mt-6 px-4 md:px-6 py-12 bg-gray-100 rounded-xl">
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 text-center text-gray-800">
            <!-- Fire Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Fire_type.png' %}" alt="Fire Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.fire_tokens }}</span>
            </div>
            <!-- Water Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Water_type.png' %}" alt="Water Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.water_tokens }}</span>
            </div>
            <!-- Grass Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Grass_type.png' %}" alt="Grass Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.grass_tokens }}</span>
            </div>
            <!-- Electric Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Electric_type.png' %}" alt="Electric Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.electric_tokens }}</span>
            </div>
            <!-- Ice Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Ice_type.png' %}" alt="Ice Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.ice_tokens }}</span>
            </div>
            <!-- Fighting Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Fighting_type.png' %}" alt="Fighting Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.fighting_tokens }}</span>
            </div>
            <!-- Poison Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Poison_type.png' %}" alt="Poison Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.poison_tokens }}</span>
            </div>
            <!-- Ground Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Ground_type.png' %}" alt="Ground Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.ground_tokens }}</span>
            </div>
            <!-- Flying Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Flying_type.png' %}" alt="Flying Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.flying_tokens }}</span>
            </div>
            <!-- Psychic Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Psychic_type.png' %}" alt="Psychic Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.psychic_tokens }}</span>
            </div>
            <!-- Bug Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Bug_type.png' %}" alt="Bug Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.bug_tokens }}</span>
            </div>
            <!-- Rock Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Rock_type.png' %}" alt="Rock Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.rock_tokens }}</span>
            </div>
            <!-- Ghost Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Ghost_type.png' %}" alt="Ghost Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.ghost_tokens }}</span>
            </div>
            <!-- Dragon Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Dragon_type.png' %}" alt="Dragon Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.dragon_tokens }}</span>
            </div>
            <!-- Dark Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Dark_type.png' %}" alt="Dark Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.dark_tokens }}</span>
            </div>
            <!-- Steel Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Steel_type.png' %}" alt="Steel Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.steel_tokens }}</span>
            </div>
            <!-- Fairy Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Fairy_type.png' %}" alt="Fairy Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.fairy_tokens }}</span>
            </div>
            <!-- Normal Token -->
            <div class="flex items-center justify-center space-x-2">
                <img src="{% static 'images/Normal_type.png' %}" alt="Normal Token" class="h-8 w-8">
                <span>{{ request.user.userprofile.normal_tokens }}</span>
            </div>
        </div>
    
    </div>
    {% endif %}
    <div>
        <br>

    </div>
        {% block content %}
        {% endblock %}    
    </div>

    <footer class="py-6 px-6 flex flex-col md:flex-row justify-between bg-gray-800">
        <div class="w-full md:w-2/3 pr-10 mb-6 md:mb-0">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <p class="text-lg text-gray-500">Add something about the project goal and
